.md6form-group {
    margin-bottom: 15px;
}
.input-group-unstyled .input-group-addon {
    border-radius: 4px;
    border: 0px;
    background-color: transparent;
    padding: 6px 3px;
}
.btl-30 {
    border-top-left-radius: 30px;
}
.sm-data-box.data-with-border .data-wrap-left {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.sm-data-box .data-wrap-left, .sm-data-box .data-wrap-right {
    padding-top: 19px;
    min-height: 99px;
}

.block {
    display: block !important;
}

.txt-light {
    color: #fff !important;
}
.weight-500 {
    font-weight: 500 !important;
    font-size: 20px;
}
.sm-data-box .counter {
    font-size: 24px;
}
.bg-pink {
    background: #dc4666 !important;
}
.bbr-30 {
    border-bottom-right-radius: 30px;
}

.uppercase-font {
    text-transform: uppercase !important;
}

.btn.btn-expen {
    margin-right: 10px;
    padding: 4px 25px;
    border-radius: 2px;
    text-transform: capitalize;
    font-size: 15px;
    cursor: pointer;
}
.pa-5 {
    padding: 5px !important;
}

element.style {
}
.pt-0 {
    padding-top: 0px !important;
}
.card-view {
    background: #fff;
    margin-bottom: 12px;
    border: 1px solid rgba(33, 33, 33, 0.1);
    border-radius: 2px;
    box-shadow: none;
    padding: 15px 15px 0;
    margin-left: -9px;
    margin-right: -9px;
}
.pl0 {
    padding-left: 0 !important;
}
.pr0 {
    padding-right: 0 !important;
}

.fa-dashboard {
    color: #ff9d9d;
}

.glyphicon-tags {
    color: #4bbcd0;
}

.fa-files-o {
    color: #f1ee6f;
}

.fa-edge {
    color: #00e5ff;
}

.fa-product-hunt {
   color: #fd00ff;
}

.fa-user-o {
	color: #f3b57f
}
.fa-arrow-circle-right {
    color: #CDDC39;
}

.fa-american-sign-language-interpreting {
    color: #f39c12;
}

.fa-cube {
        color: #5a8bfd;
}

.fa-cubes, .fa-sitemap {
    color: bisque;
}

.fa-arrow-circle-left {
    color: #959fec;
}

.fa-shopping-cart {
        color: #a0e853;
}

.fa-inr {
       color: #3ae2c4;
}

.fa-users{
        color: #e87ddf;
}

.fa-object-group {
        color: yellow;
}

.glyphicon-stats {
    color: #12e612;
}

.fa-cogs {
       color: chocolate;
}

.fa-shopping-bag {
    color: #ec4444;
}

.fa-id-card-o {
	color: #7ff37f;
}

.table>thead>tr>th {
    background: #abdce4 !important;
}

/*.customTBCss table>thead>tr>th
 {
	border-bottom: 1px solid #0e0e0e !important; 
}
 
 .table-striped>tbody>tr:nth-of-type(odd) {
    background-color: red !important;
}*/

.errortextboxcolor {
	border-color: red !important;
}

.dt-button, .paginate_button {
   	background-color: #3c8dbc;
    border-color: #367fa9;
    color: white;
    padding: 5px 15px;
    margin: 5px;
    border-radius: 5px;
}

.dt-button:hover, .paginate_button:hover {
	background: #367fa9;
	color: white;
}

.repSubBtn {
    height: 25px !important;
    padding: 0px 12px !important;
    margin-bottom: 3px !important;
}

.select2-container--default .select2-selection--single {
    border-radius: 0px !important;
    padding: 6px 0px !important;
    height: 33px !important;
}

.select2-container {
	width: 100% !important;
}

.displayCountries>a {
	padding: 3px 10px !important;
}

.blurred-box{
  position: relative;
  width: 310px;
  height: 350px;
  top: calc(50% - 167px);
  left: calc(50% - 125px);
  background: inherit;
  border-radius: 15px;
  overflow: hidden;
  border: solid 4px #ced1da;
}

.blurred-box:after{
 content: '';
 width: 300px;
 height: 300px;
 background: inherit; 
 position: absolute;
 left: -25px;
 left position
 right: 0;
 top: -25px;  
 top position 
 bottom: 0;
 box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05);
 filter: blur(10px);
}

.user-login-box{
  position: relative;
  margin-top: 30px;
  text-align: center;
  z-index: 1;
}
.user-login-box > *{
  display: inline-block;
  width: 230px;
}

.user-icon{
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 50%;
  background-size: contain;
  background-image: url("images/2.jpg");
}

.user-name{
  margin-top: 15px;
  margin-bottom: 15px;
  color: white;
}

input.user-password{
  width: 200px;
  height: 18px;
  opacity: 0.4;
  border-radius: 2px;
  padding: 5px 15px;
  border: 0;
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
 max-width:inherit; /* For Bootstrap 4 - to avoid the modal window stretching full width */
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events:all;
}

p.footer {
        text-align: right;
        font-size: 16px;
        border-top: 1px solid #D0D0D0;
        line-height: 32px;
        padding: 0 10px 0 10px;
        margin: 20px 0 0 0;
}
    
.skin-blue .sidebar-menu>li.active>a {
    background: #00a65a !important;
}

.editbutton {
    background-color: #438bfd;
    color: #fff;
}

.deletebutton {
    background-color: #c13c4e;
    color: #fff;
}

.smsbutton {
    background-color: #00d071;
    color: #fff;
}

.printbutton {
	background-color: #e46906;
	color: #fff;
}

.viewbutton {
	background-color: #ba69ce;
	color: #fff;
}

.mailbutton {
	background-color: #f57575;
    color: #fff;
}

.printpresbutton {
	background-color: #3ea999;
    color: #fff;
}

.bottomDiv {
    padding-top: 20px;
    padding-left: 8px;
}

.bottomDiv>Div>Div>input {
	width : 90%
}

.logout {
    float: right;
    color: white;
    padding: 15px;
    font-weight: bold;
}

.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    background-color: #322225;
}

.table>tbody>tr>td, .table>tfoot>tr>td, .table>thead>tr>td {
    padding: 5px 1px;
}

.form-control {
    padding: 0px 5px;
}

.invoicepage .form-control[readonly] {
	background-color: #f7f7f7;
}

/** Login Page **/

#logincontainer {
    width: 310px;
    height: 385px;
    background: inherit;
    position: absolute;
    overflow: hidden;
    top: 61%;
    left: 50%;
    margin-left: -175px;
    margin-top: -248px;
    border-radius: 8px;
}

#logincontainer:before{
  width: 400px;
  height: 550px;
  content: "";
  position: absolute;
  top: -25px;
  left: -25px;
  bottom: 0;
  right: 0;
  background: inherit;
  box-shadow: inset 0 0 0 200px rgba(255,255,255,0.2);
  filter: blur(10px);
}

#logincontainer form img{
  width: 120px;
  height: 120px;
  border-radius: 100%;
}

#logincontainer form{
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

#logincontainer input {
    background: 0 !important;
    width: 200px;
    outline: 0;
    border: 0;
    border-bottom: 2px solid rgba(255,255,255, 0.3);
    margin: 20px 15px 0px 0px;
    font-size: 16px;
    color: rgba(255,255,255, 0.8);
}

#logincontainer input[type="submit"]{
  border: 0;
  border-radius: 8px;
  padding-bottom: 0;
  height: 60px;
  background: #df2359 !important;
  color: white;
  cursor: pointer;
  transition: all 600ms ease-in-out;
}

#logincontainer input[type="submit"]:hover{
  background: #C0392B;
}

#logincontainer span a{
  color: rgba(255,255,255, 0.8);
}

/*** Login Container end */

.treetitle {
	padding: 4px 12px !important;
    color: #020202 !important;
    background: #b5c7b5 !important;
    font-size: large !important;
    font-weight: bold !important;
    height: 32px;
}

.treetitle:hover {
    padding: 4px 12px !important;
    color: #020202 !important;
    background: #b5c7b5 !important;
    font-size: large !important;
    font-weight: bold !important;
    height: 32px;
}

@media (max-width: 767px)
.main-header .logo, .main-header .navbar {
    width: 100% !important;
    float: none;
}